$color-red: #f15030;
$color-orange: #f78d28;
$color-yellow: #e7c524;
$color-green: #2caf6a;
$color-blue: #209bcf;
$color-indigo: #6056a5;
$color-purple: #ad3293;

$color-dark: #04090d;

$img-path: '~@/assets/img/';

$heading-font: 'Saira', sans-serif;
$body-font: 'Work Sans', sans-serif;